body{
  background: white;
	left:0px;
	text-align:center;
  margin: 0px 0px 0px 0px;
}
header{
  margin: 2% 2% 2% 2%;
  position: fixed;
  color: white;
  background: black;
}
.nav li{
	display: inline-block;

}
.nav li a{
  text-decoration: none;
  color:green;
}
