body{
  border: solid black 10px;
  padding-bottom: 0px;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left:0px;
  right:0px;
  bottom:0px;
}

header{
  overflow: hidden;
  z-index: 50;
  text-align: center;
}
header h1{
  font-family: fantasy;
  color: rgba(0, 0, 0, 1);
  overflow: hidden;
  position: static;
}
header h1 a{
    padding-left: 1.5em;
}

footer {
	font-size:11px;
	font-family: fantasy;
	color:black;
  text-decoration: none;
  border: solid black;
  position: absolute;
  background-color: white;
  right: 0px;
  bottom: 0px;
  padding: 3px 3px 3px 3px;
  z-index: 50;

}
footer a{
  color: black;
  text-decoration: none;
}
/* icone navigation */
/* icone navigation */
/* icone navigation */
/* icone navigation */
/* icone navigation */



.nav-icon {
  margin: 1em;
  width: 40px;
  z-index: 150;
  position: absolute;
}

.nav-icon::after,
.nav-icon::before,
.nav-icon div {
  background-color: black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}



/* script script script */
/* script script script */
/* script script script */
/* script script script */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay p{
  font-size: 12px;
  font-family: inherit;
  color: white;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 2.5%;
  left: 1%;
  font-size: 60px;
  color: yellow;

}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */


.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: absolute;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */
/* new */

}


.button {
  text-decoration: none;
  font-size: .875rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #47BDFF;
  padding: 1rem 2rem;
  font-weight: 900;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
}
.popupphoto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popupphoto img {
  width: auto;
  height: 100%;
}
.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popuptext h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popuptext p {
  font-size: .875rem;
  color: #686868;
  line-height: 1.5;
}

.popuptext a {
	text-decoration: none;
	color:  #47BDFF;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #47BDFF;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
